*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/banner-3.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: 'Poppins',sans-serif;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: orangered;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left:25% ;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
}
.text-box p{
    font-size: 20px;
    color: whitesmoke;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid whitesmoke;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid orangered;
    background: orangered;
    transition: 1s;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
        text-align: center;
        position: relative;
        left: 10%;
    }
    .text-box p{
    font-size: 15px;
    color: whitesmoke;
    text-align: center;
    position: relative;
    left: 15%;
}
.btn{
    left: 10%;
}
.nav-links{
    position: absolute;
    background: orangered;
    height: 100vh;
    width: 100px;
    top: 0;
    right: -100px;
    text-align: left;
    z-index: 2;
    transition: 1s;

}
nav .fa{
    display: block;
    color: whitesmoke;
    margin: 10px;
    font-size: 10px;
    cursor: pointer;
}

}
.testinomials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    color: red;
}
.testinomial-col {
    background: url(images/tesimonial-background.jpg);
    background-repeat: no-repeat ;
    background-size: cover ;
    background-position: center ;
    background-attachment: fixed;
    padding: 30px 0 80px;
    margin-top: 25px;
    position: relative;
    z-index: 1;
}
.testinomial-col::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
.testinomial-col img {
    position: absolute;
    left: 15px;
    top: 0;
}
.testinomial-col h3 {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-left: 92px;
}
.testinomial-col h4 {
    margin-left: 92px;
}
.testinomial-col h4 i {
    color: orangered;
    font-size: 14px;
}
.testinomial-col p {
    color: #ddd;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
    padding-top: 25px;
    letter-spacing: -.2px;
    text-align: justify;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h5{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: red;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;

}




.sub-header{
    height: 50vh;
    width: 100%;
    background-image: url(images/price-bg-3.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: whitesmoke;
}
.sub-header h1{
    margin-top: 100px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 100%;
    padding: 50px 22px;
}
.about-col img{
    width: 80%;
    position: relative;
    left: 100px;
    right: 50px;
}
.about-col h1{
    padding-top: 0;
    text-align: center;
    color: orangered;
}
.about-col p{
    padding: 15px 0 25px;
    font-size: 25px;
    color: darkblue;
}
.about-col span{
    font-size: 20px;
}



.gallery h1{
     padding-top: 0;
    text-align: center;
    color: orangered;
    padding-top: 30px;
    padding-bottom: 30px;
}

.gallery-col img{
     width: 40%;
    position: relative;
    right: 50px;
    left: 400px;



}


.plan h1{
    padding-top: 0;
    text-align: center;
    color: orangered;
    padding-top: 30px;
    padding-bottom: 30px;

}

.btn-group button {
  background-color: red; 
  border: 2px solid white; 
  color: white; 
  padding: 30px 100px;
  padding-top: 10px;
  padding-bottom: 10px; 
  cursor: pointer; 
  float: left;
  text-align: center; 
}

.btn-group1 button {
  background-color: grey; 
  border: 1px Solid white; 
  color: White; 
  padding: 20px 170px;
  padding-top: 10px;
  padding-bottom: 10px; 
  cursor: pointer; 
  float: left; 
  font-size: 20px;
}

.btn-group2 button {
  background-color: black; 
  border: 1px Solid white; 
  color: white; 
  padding: 245px 138px;
  padding-top: 10px;
  padding-bottom: 250px; 
  cursor: pointer;
  float: left; 
  font-size: 15px;
  text-align: center;
}

.btn-group3 button {
  background-color: red; 
  border: 2px solid white; 
  color: white;
  padding: 20px 169px;
  padding-top: 10px;
  padding-bottom: 10px; 
  cursor: pointer;
  float: left;
}
.btn-group3 a{
    text-decoration: none;
    color: white;
}

.btn-group3:after {
  content: "";
  clear: both;
  display: table;
}


.btn-group1:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group2:after {
  content: "";
  clear: both;
  display: table;
}
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; 
}

.btn-group1 button:not(:last-child) {
  border-right: none; 
}

.btn-group2 button:not(:last-child) {
  border-right: none;
}

.btn-group3 button:not(:last-child) {
  border-right: none; 
}


.btn-group button:hover {
  background-color: Black;
  color:White;
}

.btn-group1 button:hover {
  background-color: black;
  color:white;
}

  .btn-group2 button:hover {
  background-color: grey;
  color:white;
}

.btn-group3 button:hover {
  background-color: black;
  color:white;
}



.schedule h1{
    padding-top: 0;
    text-align: center;
    color: orangered;
    padding-top: 30px;
    padding-bottom: 30px;

}


.btn-group5 button {
  background-color: red; 
  border: 1px; 
  color: white; 
  padding: 20px 60px; 
  cursor: pointer; 
  float: left; 
}

.btn-group6 button {
  background-color: black; 
  border: 4px Solid white;
  color: White; 
  padding: 90px 37px;
  cursor: pointer;
  float: left; 
}
.btn-group6 a{
    text-decoration: none;
    color: white;
}

.btn-group6:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group5:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group5 button:not(:last-child) {
  border-right: none; 
}

.btn-group6 button:not(:last-child) {
  border-right: none; 
}

.btn-group5 button:hover {
  background-color: Black;
  color:White;
}

.btn-group6 button:hover {
  background-color: grey;
  color:white;
}




.contact h1{
    padding-top: 0;
    text-align: center;
    color: orangered;
    padding-top: 30px;
    padding-bottom: 30px;
}

form{
      padding:0px 35px;
      border-radius: 4px;
      }

      input,textarea{
      width: 55%;
      margin-top: 25px;
      padding: 5px 15px;
      box-sizing: border-box;
      line-height: 2;
      font-size:16px;
      border: black;
      color: black;
      border-radius: 6px;
      }

      input{
      height: 50px;
      }
     
      textarea{
      height: 120px;
      padding-top: 10px;
      }

      button{
      background-color: red;
      color: #fff;
      padding: 10px 30px;
      border:0px;
      height: 50px;
      cursor: pointer;
      margin-top: 15px;
      font-size: 18px;
      border-radius: 6px;
      }
      button:hover{
      background-color: black;
      }

      @media(max-width: 1000px){
      section{
      width: 80%;
      }
      input, textarea{
      width: 60%;
      }
      }
      @media(max-width: 575px){
      section{
      width: 100%;
      border-bottom-right-radius: 0%;
      }
      input, textarea{
      width: 100%;
      }
      }


.main{
    width: 400px;
    margin: 100px auto 0px auto;
}
.main h2{
    text-align: center;
    padding: 20px;
    color: red;
    font-size: 30px;
}
.join{
    background-color:white;
    width: 150%;
    font-size: 10px;
    border-radius: 10px;
    border :1px solid white;
    box-shadow: 2px 2px 15px black;
    color: Red;
}
form#join{
    margin: 40px;
}
label{
    font-size: 20px;
    font-style: italic;
}
input#name{
    width: 400px;
    border: 1px solid black;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
}










